body {
  background-color: rgb(236, 228, 228);
  /* height: 100vh; */
}

.navbar-sim {
  width: 100%;
  height: 80px;
  background-color: #212121;
}

#show-filters {
  padding: 16px 0px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

#show-filters:hover {
  background-color: rgb(243, 237, 237);
}

#show-filters i {
  margin-right: 8px;
}

.main-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 95%;
  max-width: 1300px;
  padding-top: 15px;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: white;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.event-text-container {
  border-radius: 16px;
  width: 300px;
  padding: 16px 0px;
  margin-left: 16px;
}

.event-img {
  border-radius: 16px 0px 0px 16px;
  aspect-ratio: 1;
  height: 100%;
}

.event-name {
  font-size: 28px;
  margin-bottom: 16px;
}

.event-details {
  margin-left: 8px;
  list-style: none;
}

.event-details li {
  margin: 8px 0px;
}

/*! popup */
.popup-form {
  z-index: 5;
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.popup-form.active {
  display: initial;
}

.popup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  margin: auto;
  width: 95vw;
  height: 100vh;
  max-width: 600px;
  max-height: 600px;
  background-color: rgb(236, 228, 228);
  border-radius: 8px;
  padding-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.flexhere {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.popup-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(50%) translateX(-50%);
  font-size: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.close-button:hover {
  transform: translateY(50%) translateX(-50%) scale(1.2);
  color: rgba(0, 0, 0, 0.7);
}

.dropdown {
  position: relative;
  max-width: 250px;
  width: 100%;
  margin: 10px auto;
  border-radius: 8px;
}

.select-btn {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
  font-size: 18px;
  font-weight: 600;
}

.select-btn .arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  width: 21px;
  transition: 0.3s;
}

.select-btn.open .arrow-down {
  transform: rotate(-180deg);
}

.list-items {
  position: absolute;
  width: 100%;
  margin-top: 15px;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow: auto;
  display: none;
  z-index: 5;
}

.select-btn.open ~ .list-items {
  display: block;
}

.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
  padding: 0 15px;
  border-radius: 8px;
}

.list-items .item:hover {
  background-color: rgb(204, 199, 199);
}

.item .item-text {
  font-weight: 500;
}

.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 12px;
  border: 1.5px solid grey;
  transition: all 0.3s ease-in-out;
}

.item input {
  display: none;
}

.checkbox .check-icon {
  font-size: 11px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.selection.selected ~ .checkbox .check-icon {
  transform: scale(1);
}

.list-items::-webkit-scrollbar {
  width: 10px;
}

.list-items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 7px;
}

.list-items::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 7px;
}

input.submit {
  max-width: 250px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: white;
  border: none;
  font-weight: 600;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 10px auto;
}

#popup-obfuscate {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
  position: fixed;
  transform: 0.3s;
}

#popup-obfuscate.active {
  display: initial;
}
