body {
  background-color: rgb(236, 228, 228);
  /* height: 100vh; */
}

a {
  color: black;
}

button {
  margin-bottom: 8px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  border-radius: 16px;
  transition: all 0.3s;
}

#editbtn:hover {
  background-color: orange;
  transform: scale(1.05);
}

.navbar-sim {
  width: 100%;
  height: 80px;
  background-color: #212121;
}

.main-container {
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.team-info {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.7rem;
}

.team-bio {
  font-size: 1.3rem;
}

.team-contact{
  margin-top: 8px;
}

.profile-img {
  margin-right: 16px;
  /* background-color: #212121; */
  border-radius: 50%;
}

.profile-img img {
  aspect-ratio: 1;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}

.team-text {
  width: 50%;
  max-width: 300px;
}

.events {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  padding-top: 15px;
}

.event-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: white;
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.event-text-container {
  border-radius: 16px;
  width: 300px;
  padding: 16px 0px;
  margin-left: 16px;
}

.event-img {
  border-radius: 16px 0px 0px 16px;
  aspect-ratio: 1;
  height: 100%;
}

.event-name {
  font-size: 28px;
  margin-bottom: 16px;
}

.event-details {
  margin-left: 8px;
  list-style: none;
}

.event-details li {
  margin: 8px 0px;
}
